@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0c0c0;
  font-family: "Lato", sans-serif;
  font-size: 120%;
}

.container {
  max-width: 65%;
  margin: 2rem auto;
  padding: 0.8rem 0.4rem;
  background-color: #ffffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 31px 2px rgba(232, 223, 232, 0.5);
}

input {
  width: 100%;
  height: 1.8rem;
  padding: 0.2rem 0.5rem;
  border: none;
  font-size: 90%;
  border-bottom: 1px solid grey;
  font-family: "Lato", sans-serif;
}

input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.student_container {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image_container {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin-right: 2.5rem;
  border-bottom: 2px solid grey;
}

.image_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.student_details {
  width: 75%;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.header_content h5 {
  font-weight: 900;
  margin: 0.2rem 0;
  font-size: 1.7rem;
}

.header_content button {
  margin-right: 1rem;
  border: none;
  background-color: none;
  padding: 0.5rem;
}

.header_content button:hover {
  cursor: pointer;
}

.student_detail_list .student__details-item {
  margin: 0.3rem 0;
  padding: 0.2rem 0.5rem;
  list-style-type: none;
  background-color: #c0c0c0;
  border-radius: 3px;
}

.students_marks {
  margin: 1rem 0;
  padding: 0 0.2rem;
  display: none;
}

.students_marks_view {
  margin: 1rem 0;
  padding: 0 0.2rem;
  display: block;
}

.students_marks li {
  list-style-type: none;
  margin: 0.1rem 0;
}
